<style type="text/css">
	body {background:#EEE8AA;
}
	a {
		color: #008000;
		text-decoration: none;
}
	a:visited {
		color: #800080;
} 
	a:hover {
		color: #800000;
		text-decoration: underline;
}
</style>

<div style="width: 200px; background: #C0C0C0; border-radius: 5px;"><h1>Hello, world!!</h1></div>

<div style="padding: 10px; width:60px; background: #C0C0C0; border-radius: 5px;" ><%= link_to 'My Blog', controller: 'articles' %></div>
